body {
    /* font-family: "Ubuntu", sans-serif; */
    font-family: arial,sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.wrapper {
    width: 630px;
    height: 340px;
    position: absolute;
    top: 0;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 16px;
    text-align: center;
}

.logo-img{
    margin-bottom: 30px;
}

.search-box {
    height: 80px;
}

.search-input:focus{
    border: 1px solid skyblue;
    box-shadow: 1px 1px 5px #999;
    transition: .3s all linear;
}

.search-input {
    width: 380px;
    height: 35px;
    border: 1px solid #E6E6E6;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    border-radius: 2px;
    text-indent: 6px;
    
}

.search-input:hover {
	box-shadow: 0px 0px 2px 2px rgba(0, 166, 81, 0.2);
}

.search-button {
    position: relative;
    top: -2px;
    border: 1px solid #E6E6E6;
    background-color: rgb(23, 199, 23);
    color: white;
    height: 35px;
    width: 48px;
    border-radius: 20%;
    cursor: pointer;
}

.search-button:hover {
    opacity: 0.7;
}

#engines {
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 8px;
    width: 428px;
    text-align: left;
    font-size: 14px;
}

.link-box {
    position: fixed;
    height: 60px;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.link-box>a {
    display: inline-block;
    margin: 16px;
    text-decoration: initial;
    color: #87a556;
    filter: grayscale(100%);
}

.link-box>a:hover {
    opacity: 0.7;
    color: #87a556;
    filter: grayscale(0%);
}

input[type="radio"] {
    vertical-align: middle;
    position: relative;
    bottom: 10px;
}

input[type="radio"] {
    bottom: 3px;
}

#toolbar {
    position: absolute;
    right: 1em;
    top: 1em;
}

#toolbar>a {
    filter: grayscale(100%);
    cursor: pointer;
}

#toolbar>a:focus,
#toolbar>a:hover {
    filter: grayscale(0);
    opacity: 0.7;
}

body.dark {
    background-color: #3C3A36;
    color: #fff;
}

body.dark input {
    background-color: rgba(128, 128, 128, 0.377);
    color: #fff;
}

body.dark .link-box>a {
    filter: grayscale(100%) invert(1);
}

body.dark .link-box>a:hover {
    filter: grayscale(0);
}
.link {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    background-image: url(../images/social.png);
}

.link-box>a>div {
    margin-right: 6px;
}

.link.about {
    background-position: 0px 0px;
}

.link.community {
    background-position: -32px 0px;
}

.link.shop {
    background-position: -64px 0px;
}

.link.chat {
    background-position: -96px 0px;
}

.link.search {
    background-position: -128px 0px;
}

.link.google {
    background-position: -160px 0px;
    width: 71px;
    height: 24px;
}

.link.duckduckgo {
    background-position: -232px 0px;
    width: 120px;
    height: 22px;
}

.link.donate {
    background-position: -352px 0px;
}

.link.darkmode {
    background-position: -384px 0px;
}